.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f1f1f;
    width: 100%;
}

.about {
    width: 70%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f1f1f;

    margin-bottom: 200px;
}

.home .about img {
    margin-top: 30px;
    margin-bottom: 150px;
    width: 220px;
    height: auto;
}

.home .about h2 {
    position: relative;
    top: 48px;
    right: 34px;

    display: flex;
    align-items: center;

    color: #085A2F;
    letter-spacing: 1px;
}

.home .about p {
    text-align: justify;
}

.home .about h2 svg {
    margin: 0px;
    width: 23px;
    height: 23px;
}

.home .about h2 span {
    margin-left: 10px;
}

.home .about h3 {
    display: none;
    top: 55px;
}

.about .mobileName {
    display: none;
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: calc(100vh - 380px);
    margin-bottom: 100px;
}

.skills h2 {
    color: #085A2F;
}

.skills .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills .list .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width:800px) {

    .home .about h2,
    .home .about h1 {
        display: none;
    }

    .about {
        margin-bottom: 300px;
    }

    .home .about img {
        margin-top: 30px;
        width: 180px;
        height: auto;
    }

    .home .about .mobileDesc {
        margin-top: 15px;
        display: flex;
        color: #085A2F;

        font-size: 25px;
    }

    .home .about .mobileName {
        display: block;

        font-weight: bold;
        font-size: 20px;
        position: relative;
        bottom: 40px;

        border-bottom: 2px solid #085A2F;
    }

    .skills {
        width: 70%;
        align-items: center;
        margin: 190px 0px;
    }

    .skills .list {
        display: flex;
        align-items: flex-start;

    }

    .skills .list .item {
        width: 100%;
        align-items: flex-start;
    }

    .skills .list .item h3 {
        text-align: start;
        font-size: 18px;
    }

    .skills .list .item span {
        text-align: start;
        font-size: 15px;
    }
}