.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f1f1f;
    width: 100%;
}

.about {
    width: 70%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f1f1f;

    margin-bottom: 90px;
}

.home .about svg {
    height: 100px;
    width: 100px;
    margin-top: 50px;
}


.home .about h2 {
    position: relative;
    top: 48px;
    right: 34px;

    display: flex;
    align-items: center;

    color: #35013A;
    letter-spacing: 1px;
}

.home .about p {
    text-align: justify;
}

.home .about h2 svg {
    margin: 0px;
    width: 23px;
    height: 23px;
}

.home .about h2 span {
    margin-left: 10px;
}

.home .about h3 {
    display: none;
    top: 55px;
}

.about .mobileName {
    display: none;
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: calc(100vh - 380px);
    margin-bottom: 100px;
}

.skills h2 {
    color: #35013A;
}

.skills .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills .list .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width:800px) {

    .home .about h2,
    .home .about h1 {
        display: none;
    }

    .about {
        margin-bottom: 30px;

    }

    .home .about .mobileDesc {
        margin-top: 15px;
        display: flex;
        color: #35013A;

        font-size: 25px;
    }

    .home .about .mobileName {
        display: block;

        font-weight: bold;
        font-size: 20px;
        position: relative;
        bottom: 40px;

        border-bottom: 2px solid #35013A;
    }

    .skills {
        width: 70%;
        align-items: center;
        margin: 150px 0px;
    }

    .skills .list {
        display: flex;
        align-items: flex-start;

    }

    .skills .list .item {
        width: 100%;
        align-items: flex-start;
    }

    .skills .list .item h3 {
        text-align: start;
        font-size: 18px;
    }

    .skills .list .item span {
        text-align: start;
        font-size: 15px;
    }
}